# Requirements without Version Specifiers
pandas==1.1.5
gunicorn==20.1.0
gevent==21.1.2
s3fs
glob2==0.7
numpy==1.18.5
faiss-cpu==1.7.1
tqdm==4.61.0
#dgl
#dglke
pandarallel==1.5.2
fastHan==1.7
marisa-trie==0.7.5
boto3==1.16.57

