# kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


# list of resource config to be applied
resources:
- storage-class.yaml
- pv.yaml
# - pv-claim.yaml

patchesStrategicMerge:
- csi-env.yaml

# namespace to deploy all resources to
# namespace: default


commonLabels:
  author: cc
