# Requirements without Version Specifiers

# Requirements with Version Specifiers
redis== 3.5.3
numpy==1.19.5
grpcio==1.36.1
grpcio-reflection==1.36.1
grpcio-tools==1.36.0
protobuf==3.15.3
requests==2.25.1
tensorflow==1.15.2
boto3==1.16.59
